@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/gray-triangle-shaped-tile-vector_53876-161415.jpg?w=360&t=st=1677338926~exp=1677339526~hmac=8a0e2936a9a6600247966487082f61316c50e1f1fd202070e37a336768fe45fd");
    font-family: 'Quicksand', sans-serif;
}

button{
    font-family: 'Quicksand', sans-serif;
    background-color: #c4ceff;
    border-radius: 5px;
    color: black;
}
.login form,
.login .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.login {
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 25vh;
    padding: 10px;
}
.login form label{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    margin-block: 5px;
}

.login form input{
    margin-top: 5px;
    padding: 0.5em;
    border-color: transparent;
}
.login form label input{
    width: 50%;
    text-align: center;
    border-radius: 12px;
}
.login form label input, .login form label {
    font-size: 24px;
}

.login form button, .register button{
    width: 90%;
    margin: auto;
    margin-block: 20px;
    height: 40px;
    font-size: 20px;
    border: none;
}

.register p{
    text-align: center;
    font-size: 24px;
}

.profile-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 15px;
    margin-top: 10vh;
}

#profile{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: left;
    margin-block: 10px;
}

.profile-buttons{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#profile #profileImage{
    margin: auto;
    margin-block: 15px;
}

#profile button{
    margin: auto;
    width: 50%;
    margin-block: 5px;
    font-size: 16px;
    border: none;
    height: 30px;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.register-form label{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-block: 5px;
}

.register-form input{
    font-size: 14px;
    text-align: center;
    margin: auto;
}

.register-container{
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 10px;
    border-radius: 24px;
    text-align: center;
}

.register-form button, .register-login button{
    width: 50%;
    margin: auto;
    margin-top: 15px;
    border: none;
    height: 40px;
    font-size: 20px;
}

.register-login p{
    font-size: 18px;
    text-decoration: underline;
}

h1{
    text-align: center;
    margin-top: 1em;
}
.edit-form{
    display: grid;
    justify-content: center;
    line-height: 2em;
}
.edit-form input{
    outline: 0;
    border-width: 0 0 2px;
    display: grid;
    padding: 0.2em; 
    width: 100%; 
}
.edit-form label input:focus{
    border-bottom: #fb14cc;
    border-width: 0 0 3px;
}
.edit-form button{
    margin-top: 1em;
    border: transparent;
    padding: 0.5em;
    background-color: #c4ceff;
}


td,th{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
.table-btn button{
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
}

table{
    text-align: center;
}


